// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_user {
	margin-top: 15px;
	margin-bottom: 15px;

	* {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	input[type="text"], input[type="password"] {
		display: block;
	}
	input[type="submit"] {
		display: block;
	}
}
